# ====================
# Python
# ====================
*/migrations/__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
clinic/migrations

# ====================
# Virtual environments
# ====================
venv/
ENV/
env/
.venv/

# ====================
# Django stuff
# ====================
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# ====================
# VSCode / IDE
# ====================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ====================
# OS files
# ====================
.DS_Store
Thumbs.db

# ====================
# MyPy / Pytest / Coverage
# ====================
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
patient_documents/Purple_Modern_Futuristic_Technology_Presentation_1.jpg
